# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==3.0.1
gunicorn==21.2.0
deepface
tensorflow
tf-keras

opencv-python
requests
# pycurl
websockets
sv-ttk

pyinstaller

#needed for pyinstaller to convert the icon for the executable
pillow


#run async operations alongside
tkinter-async-execute
# cryptography
cryptography
easyocr
darkdetect
